<h1>Search for Movie  </h1>
<h2>John Paul is not watching this</h2>
<form action="/results" method='GET'>
    <input type='text' placeholder='search term' name='nameValue'>
    <input type='submit'>
</form>
