<h1>Search for Movie Details </h1>
<h2>Type in a name of a movie and it will display the year it was released</h2>
<h2>Staging</h2>
<form action="/results" method='GET'>
    <input type='text' placeholder='search term' name='nameValue'>
    <input type='submit'>
</form>
